.buttons {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
button {
  padding: 10px;
  background-color: navy;
  color: white;
  border-radius: 5px;
  border: none;
  padding: auto;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  height: 25px;
  align-items: center;
}
button:hover {
  cursor: pointer;
  background-color: red;
}
